<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="nav">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">张创集团</span>
                    </button>
                    <a class="navbar-brand" href="/">张创集团</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜索问题">
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${session.user != null}" style="margin-top: 10px">
                            <a href="/publish">提问</a>
                        </li>
                        <li th:if="${session.user != null}">

                        </li>
                        <li class="dropdown" th:if="${session.user != null}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
<!--                                <Span th:text="${session.user.getName()}"></Span>-->
                                <img class="media-object img-rounded" th:src="@{${session.user.avatarUrl}}">
<!--                                <span class="caret"></span>-->
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/questions">我的问题</a></li>
                                <li><a href="#">个人资料</a></li>
                                <li><a href="/logout">退出登录</a></li>
                            </ul>
                        </li>
                        <li th:if="${session.user == null}">
<!--                            <a href="https://github.com/login/oauth/authorize?client_id=0e4ce5df5fd345970d64&redirect_uri=http://122.51.35.190:80/callback&scope=user&state=1">登录</a>-->
                            <a href="https://github.com/login/oauth/authorize?client_id=0e4ce5df5fd345970d64&redirect_uri=http://localhost:80/callback&scope=user&state=1">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

</body>
</html>